/*
Site Name: Lucas Cavalcanti
Site URI: http://www.lcavalcanti.com
Author: Lucas Cavalcanti
Author URI: http://www.lcavalcanti.com

IDE: Sublime Text 2, FileZilla, Photoshop
Development: Html5, CSS3, Jquery, LESS, Semantic.gs, Grunt.js
*/

/*------------------------------------------------------
						Variables
------------------------------------------------------*/

/*------------------------------------------------------
						Mixins
------------------------------------------------------*/

/* Font Sizes */

/* Font Sizes */

/* Dimensions */

/* Dimensions */

/* Rgba Background */

/* Rgba Background */

/* Transform Scale */

/* Transform Scale */

/* Transform Translate */

/* Transform Translate */

.awesome {
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

/* tables still need 'cellspacing="0"' in the markup */

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Reset meyes versao antiga */

caption,
th,
td {
  text-align: left;
  font-weight: normal;
}

/* Custons Alex*/

strong,
b,
i,
em {
  font-weight: normal;
}

a {
  text-decoration: none;
}

img {
  vertical-align: middle;
}

/* remember to define focus styles! */

:focus {
  outline: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

/*------------------------------------------------------
						Colors
------------------------------------------------------*/

/* Base Color */

/* Base Color */

/* Prymary Color */

/* Prymary Color */

/* Secondary Color */

/* Secondary Color */

/* Tertiary Color */

/* Tertiary Color */

/* Success Color */

/* Success Color */

/* Error Color */

/* Error Color */

/* Warning Color */

/* Warning Color */

/* Neutral Color */

/* Neutral Color */

/* White Color */

/* White Color */

/* Other Colors */

/* Other Colors */

/*------------------------------------------------------
						Colors
------------------------------------------------------*/

/* Mixin Font Face ----------------------------------------- */

/* Parametric mixins -------------------------------------- */

/* Project Fonts -------------------------------------- */

@font-face {
  font-family: "mada";
  src: url("fonts/mada-extralight-webfont.eot");
  src: url("fonts/mada-extralight-webfont.eot?#iefix") format('embedded-opentype'), url("fonts/mada-extralight-webfont.woff") format('woff'), url("fonts/mada-extralight-webfont.ttf") format('truetype'), url("fonts/mada.svg#mada") format('svg');
  font-weight: 50;
  font-style: normal;
}

@font-face {
  font-family: "mada";
  src: url("fonts/mada-light-webfont.eot");
  src: url("fonts/mada-light-webfont.eot?#iefix") format('embedded-opentype'), url("fonts/mada-light-webfont.woff") format('woff'), url("fonts/mada-light-webfont.ttf") format('truetype'), url("fonts/mada.svg#mada") format('svg');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "mada";
  src: url("fonts/mada-regular-webfont.eot");
  src: url("fonts/mada-regular-webfont.eot?#iefix") format('embedded-opentype'), url("fonts/mada-regular-webfont.woff") format('woff'), url("fonts/mada-regular-webfont.ttf") format('truetype'), url("fonts/mada.svg#mada") format('svg');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "mada";
  src: url("fonts/mada-medium-webfont.eot");
  src: url("fonts/mada-medium-webfont.eot?#iefix") format('embedded-opentype'), url("fonts/mada-medium-webfont.woff") format('woff'), url("fonts/mada-medium-webfont.ttf") format('truetype'), url("fonts/mada.svg#mada") format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "mada";
  src: url("fonts/mada-semibold-webfont.eot");
  src: url("fonts/mada-semibold-webfont.eot?#iefix") format('embedded-opentype'), url("fonts/mada-semibold-webfont.woff") format('woff'), url("fonts/mada-semibold-webfont.ttf") format('truetype'), url("fonts/mada.svg#mada") format('svg');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "mada";
  src: url("fonts/mada-bold-webfont.eot");
  src: url("fonts/mada-bold-webfont.eot?#iefix") format('embedded-opentype'), url("fonts/mada-bold-webfont.woff") format('woff'), url("fonts/mada-bold-webfont.ttf") format('truetype'), url("fonts/mada.svg#mada") format('svg');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "mada";
  src: url("fonts/mada-black-webfont.eot");
  src: url("fonts/mada-black-webfont.eot?#iefix") format('embedded-opentype'), url("fonts/mada-black-webfont.woff") format('woff'), url("fonts/mada-black-webfont.ttf") format('truetype'), url("fonts/mada.svg#mada") format('svg');
  font-weight: 900;
  font-style: normal;
}

/* How to use
	.example-class1{
		.font(@font-base, normal, 1.3, 1.5);
	}
	.example-class2{
		.font(@font-primary, normal, 1.3, 1.5);
	}
	.example-class3{
	  .font(@font-secondary, normal, 1.3, 1.5);
	}
*/

/* Base */

body {
  width: 100%;
  *zoom: 1;
  display: block;
  clear: both;
}

body:before,
body:after {
  content: "";
  display: table;
}

body:after {
  clear: both;
}

/* Determine a largura do seu container. */

.wrap {
  width: 100%;
  max-width: 1200px;
  display: block;
  margin: 0 auto;
}

.push-1 {
  margin-left: 9.375% !important;
}

.pull-1 {
  margin-right: 9.375% !important;
}

.push-2 {
  margin-left: 17.70833333% !important;
}

.pull-2 {
  margin-right: 17.70833333% !important;
}

.push-3 {
  margin-left: 26.04166667% !important;
}

.pull-3 {
  margin-right: 26.04166667% !important;
}

.push-4 {
  margin-left: 34.375% !important;
}

.pull-4 {
  margin-right: 34.375% !important;
}

.push-5 {
  margin-left: 42.70833333% !important;
}

.pull-5 {
  margin-right: 42.70833333% !important;
}

.push-6 {
  margin-left: 51.04166667% !important;
}

.pull-6 {
  margin-right: 51.04166667% !important;
}

.push-7 {
  margin-left: 59.375% !important;
}

.pull-7 {
  margin-right: 59.375% !important;
}

.push-8 {
  margin-left: 67.70833333% !important;
}

.pull-8 {
  margin-right: 67.70833333% !important;
}

.push-9 {
  margin-left: 76.04166667% !important;
}

.pull-9 {
  margin-right: 76.04166667% !important;
}

.push-10 {
  margin-left: 84.375% !important;
}

.pull-10 {
  margin-right: 84.375% !important;
}

.push-11 {
  margin-left: 92.70833333% !important;
}

.pull-11 {
  margin-right: 92.70833333% !important;
}

.push-12 {
  margin-left: 101.04166667% !important;
}

.pull-12 {
  margin-right: 101.04166667% !important;
}

.col-1 {
  width: 6.25% !important;
  display: inline !important;
  float: left !important;
  margin: 0 1.04166667% !important;
}

.col-2 {
  width: 14.58333333% !important;
  display: inline !important;
  float: left !important;
  margin: 0 1.04166667% !important;
}

.col-3 {
  width: 22.91666667% !important;
  display: inline !important;
  float: left !important;
  margin: 0 1.04166667% !important;
}

.col-4 {
  width: 31.25% !important;
  display: inline !important;
  float: left !important;
  margin: 0 1.04166667% !important;
}

.col-5 {
  width: 39.58333333% !important;
  display: inline !important;
  float: left !important;
  margin: 0 1.04166667% !important;
}

.col-6 {
  width: 47.91666667% !important;
  display: inline !important;
  float: left !important;
  margin: 0 1.04166667% !important;
}

.col-7 {
  width: 56.25% !important;
  display: inline !important;
  float: left !important;
  margin: 0 1.04166667% !important;
}

.col-8 {
  width: 64.58333333% !important;
  display: inline !important;
  float: left !important;
  margin: 0 1.04166667% !important;
}

.col-9 {
  width: 72.91666667% !important;
  display: inline !important;
  float: left !important;
  margin: 0 1.04166667% !important;
}

.col-10 {
  width: 81.25% !important;
  display: inline !important;
  float: left !important;
  margin: 0 1.04166667% !important;
}

.col-11 {
  width: 89.58333333% !important;
  display: inline !important;
  float: left !important;
  margin: 0 1.04166667% !important;
}

.col-12 {
  width: 97.91666667% !important;
  display: inline !important;
  float: left !important;
  margin: 0 1.04166667% !important;
}

.row-1 {
  width: 125% !important;
  margin: 0 -12.5% !important;
  *zoom: 1 !important;
  display: block !important;
  clear: both !important;
}

.row-1:before,
.row-1:after {
  content: "" !important;
  display: table !important;
}

.row-1:after {
  clear: both !important;
}

.row-2 {
  width: 112.5% !important;
  margin: 0 -6.25% !important;
  *zoom: 1 !important;
  display: block !important;
  clear: both !important;
}

.row-2:before,
.row-2:after {
  content: "" !important;
  display: table !important;
}

.row-2:after {
  clear: both !important;
}

.row-3 {
  width: 108.33333333% !important;
  margin: 0 -4.16666667% !important;
  *zoom: 1 !important;
  display: block !important;
  clear: both !important;
}

.row-3:before,
.row-3:after {
  content: "" !important;
  display: table !important;
}

.row-3:after {
  clear: both !important;
}

.row-4 {
  width: 106.25% !important;
  margin: 0 -3.125% !important;
  *zoom: 1 !important;
  display: block !important;
  clear: both !important;
}

.row-4:before,
.row-4:after {
  content: "" !important;
  display: table !important;
}

.row-4:after {
  clear: both !important;
}

.row-5 {
  width: 105% !important;
  margin: 0 -2.5% !important;
  *zoom: 1 !important;
  display: block !important;
  clear: both !important;
}

.row-5:before,
.row-5:after {
  content: "" !important;
  display: table !important;
}

.row-5:after {
  clear: both !important;
}

.row-6 {
  width: 104.16666667% !important;
  margin: 0 -2.08333333% !important;
  *zoom: 1 !important;
  display: block !important;
  clear: both !important;
}

.row-6:before,
.row-6:after {
  content: "" !important;
  display: table !important;
}

.row-6:after {
  clear: both !important;
}

.row-7 {
  width: 103.57142857% !important;
  margin: 0 -1.78571429% !important;
  *zoom: 1 !important;
  display: block !important;
  clear: both !important;
}

.row-7:before,
.row-7:after {
  content: "" !important;
  display: table !important;
}

.row-7:after {
  clear: both !important;
}

.row-8 {
  width: 103.125% !important;
  margin: 0 -1.5625% !important;
  *zoom: 1 !important;
  display: block !important;
  clear: both !important;
}

.row-8:before,
.row-8:after {
  content: "" !important;
  display: table !important;
}

.row-8:after {
  clear: both !important;
}

.row-9 {
  width: 102.77777778% !important;
  margin: 0 -1.38888889% !important;
  *zoom: 1 !important;
  display: block !important;
  clear: both !important;
}

.row-9:before,
.row-9:after {
  content: "" !important;
  display: table !important;
}

.row-9:after {
  clear: both !important;
}

.row-10 {
  width: 102.5% !important;
  margin: 0 -1.25% !important;
  *zoom: 1 !important;
  display: block !important;
  clear: both !important;
}

.row-10:before,
.row-10:after {
  content: "" !important;
  display: table !important;
}

.row-10:after {
  clear: both !important;
}

.row-11 {
  width: 102.27272727% !important;
  margin: 0 -1.13636364% !important;
  *zoom: 1 !important;
  display: block !important;
  clear: both !important;
}

.row-11:before,
.row-11:after {
  content: "" !important;
  display: table !important;
}

.row-11:after {
  clear: both !important;
}

.row-12 {
  width: 102.08333333% !important;
  margin: 0 -1.04166667% !important;
  *zoom: 1 !important;
  display: block !important;
  clear: both !important;
}

.row-12:before,
.row-12:after {
  content: "" !important;
  display: table !important;
}

.row-12:after {
  clear: both !important;
}

/* Responsive Grid */

@media only screen and (max-width : 480px) {
  .mobile-1 {
    width: 6.25%;
    display: inline;
    float: left;
    margin: 0 1.04166667%;
  }

  .mobile-2 {
    width: 14.58333333%;
    display: inline;
    float: left;
    margin: 0 1.04166667%;
  }

  .mobile-3 {
    width: 22.91666667%;
    display: inline;
    float: left;
    margin: 0 1.04166667%;
  }

  .mobile-4 {
    width: 31.25%;
    display: inline;
    float: left;
    margin: 0 1.04166667%;
  }

  .mobile-5 {
    width: 39.58333333%;
    display: inline;
    float: left;
    margin: 0 1.04166667%;
  }

  .mobile-6 {
    width: 47.91666667%;
    display: inline;
    float: left;
    margin: 0 1.04166667%;
  }

  .mobile-7 {
    width: 56.25%;
    display: inline;
    float: left;
    margin: 0 1.04166667%;
  }

  .mobile-8 {
    width: 64.58333333%;
    display: inline;
    float: left;
    margin: 0 1.04166667%;
  }

  .mobile-9 {
    width: 72.91666667%;
    display: inline;
    float: left;
    margin: 0 1.04166667%;
  }

  .mobile-10 {
    width: 81.25%;
    display: inline;
    float: left;
    margin: 0 1.04166667%;
  }

  .mobile-11 {
    width: 89.58333333%;
    display: inline;
    float: left;
    margin: 0 1.04166667%;
  }

  .mobile-12 {
    width: 97.91666667%;
    display: inline;
    float: left;
    margin: 0 1.04166667%;
  }

  [class^="mobile-"],
  [class*="mobile-"] {
    display: inline;
    float: left;
    margin: 0 1.04166667%;
    min-height: 30px;
  }
}

@media only screen and (min-width: 481px) and (max-width: 949px) {
  .tablet-1 {
    width: 6.25%;
    display: inline;
    float: left;
    margin: 0 1.04166667%;
  }

  .tablet-2 {
    width: 14.58333333%;
    display: inline;
    float: left;
    margin: 0 1.04166667%;
  }

  .tablet-3 {
    width: 22.91666667%;
    display: inline;
    float: left;
    margin: 0 1.04166667%;
  }

  .tablet-4 {
    width: 31.25%;
    display: inline;
    float: left;
    margin: 0 1.04166667%;
  }

  .tablet-5 {
    width: 39.58333333%;
    display: inline;
    float: left;
    margin: 0 1.04166667%;
  }

  .tablet-6 {
    width: 47.91666667%;
    display: inline;
    float: left;
    margin: 0 1.04166667%;
  }

  .tablet-7 {
    width: 56.25%;
    display: inline;
    float: left;
    margin: 0 1.04166667%;
  }

  .tablet-8 {
    width: 64.58333333%;
    display: inline;
    float: left;
    margin: 0 1.04166667%;
  }

  .tablet-9 {
    width: 72.91666667%;
    display: inline;
    float: left;
    margin: 0 1.04166667%;
  }

  .tablet-10 {
    width: 81.25%;
    display: inline;
    float: left;
    margin: 0 1.04166667%;
  }

  .tablet-11 {
    width: 89.58333333%;
    display: inline;
    float: left;
    margin: 0 1.04166667%;
  }

  .tablet-12 {
    width: 97.91666667%;
    display: inline;
    float: left;
    margin: 0 1.04166667%;
  }

  [class^="tablet-"],
  [class*="tablet-"] {
    display: inline;
    float: left;
    margin: 0 1.04166667%;
    min-height: 30px;
  }
}

@media only screen and (min-width: 950px) and (max-width: 1223px) {
  .desktop-1 {
    width: 6.25%;
    display: inline;
    float: left;
    margin: 0 1.04166667%;
  }

  .desktop-2 {
    width: 14.58333333%;
    display: inline;
    float: left;
    margin: 0 1.04166667%;
  }

  .desktop-3 {
    width: 22.91666667%;
    display: inline;
    float: left;
    margin: 0 1.04166667%;
  }

  .desktop-4 {
    width: 31.25%;
    display: inline;
    float: left;
    margin: 0 1.04166667%;
  }

  .desktop-5 {
    width: 39.58333333%;
    display: inline;
    float: left;
    margin: 0 1.04166667%;
  }

  .desktop-6 {
    width: 47.91666667%;
    display: inline;
    float: left;
    margin: 0 1.04166667%;
  }

  .desktop-7 {
    width: 56.25%;
    display: inline;
    float: left;
    margin: 0 1.04166667%;
  }

  .desktop-8 {
    width: 64.58333333%;
    display: inline;
    float: left;
    margin: 0 1.04166667%;
  }

  .desktop-9 {
    width: 72.91666667%;
    display: inline;
    float: left;
    margin: 0 1.04166667%;
  }

  .desktop-10 {
    width: 81.25%;
    display: inline;
    float: left;
    margin: 0 1.04166667%;
  }

  .desktop-11 {
    width: 89.58333333%;
    display: inline;
    float: left;
    margin: 0 1.04166667%;
  }

  .desktop-12 {
    width: 97.91666667%;
    display: inline;
    float: left;
    margin: 0 1.04166667%;
  }

  [class^="desktop-"],
  [class*="desktop-"] {
    display: inline;
    float: left;
    margin: 0 1.04166667%;
    min-height: 30px;
  }
}

.hey > .desktop-(12) {
  width: 6.25%;
  display: inline;
  float: left;
  margin: 0 1.04166667%;
}

/*------------------------------------------------------
						Utilities
------------------------------------------------------*/

.left {
  float: left !important;
}

.left-align {
  text-align: left !important;
}

.tright {
  text-align: right;
}

.tcenter {
  text-align: center;
}

.hide {
  display: none;
}

.uppercase {
  text-transform: uppercase;
}

.box {
  border: 2px solid #442CBB;
}

.body-overlay {
  background: transparent\9;
  width: 100%;
  height: 100%;
  zoom: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#cc442cbb, endColorstr=#cc442cbb)";
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#cc442cbb, endColorstr=#cc442cbb);
  display: none;
  position: fixed;
  z-index: 6000;
  left: 0;
  top: 0;
}

.clear,
.clearfix {
  display: block;
  clear: both;
}

hr {
  width: 100%;
  display: block;
  margin: 20px 0;
  float: left;
}

body .video {
  background: #262C3D;
  height: 0;
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  margin: 20px 0;
}

body .video iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

/*------------------------------------------------------
						Buttons
------------------------------------------------------*/

/* Button Flat */

.button-flat {
  background: #FE2458;
  width: auto;
  height: auto;
  text-decoration: none;
  text-decoration: none !important;
  overflow: hidden;
  position: relative;
  margin: 15px 0 0 0;
  float: left;
}

.button-flat:hover:before {
  top: 0;
}

.button-flat:before {
  background: #442CBB;
  content: '';
  width: 100%;
  height: 100%;
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  -ms-transition: 0.6s;
  -o-transition: 0.6s;
  position: absolute;
  z-index: 2;
  top: -100%;
  left: 0;
}

.button-flat span {
  color: #ffffff;
  /*Pixel value Fallback*/
  font: 100 16px/16px mada, Fallback, sans-serif;
  /*Rem value*/
  font: 100 1.6rem/1.6rem mada, Fallback, sans-serif;
  padding: 14px 20px;
  position: relative;
  display: block;
  z-index: 3;
}

/* Button Flat */

/* Button */

.default-button {
  color: #262C3D;
  /*Pixel value Fallback*/
  font: 200 20px/20px mada, Fallback, sans-serif;
  /*Rem value*/
  font: 200 2rem/2rem mada, Fallback, sans-serif;
  margin: 15px 0 10px;
  position: relative;
  float: left;
}

.default-button:after {
  background: #262C3D;
  content: '';
  width: 100%;
  height: 2px;
  position: absolute;
  bottom: -5px;
  left: 0;
}

/* Button */

/*------------------------------------------------------
						Forms
------------------------------------------------------*/

form {
  margin: 5px 0px;
}

fieldset {
  margin-bottom: 3px;
}

legend {
  width: 100%;
  height: 43px;
  color: #57658c;
  /*Pixel value Fallback*/
  font: normal 14px/32px mada, Fallback, sans-serif;
  /*Rem value*/
  font: normal 1.4rem/3.2rem mada, Fallback, sans-serif;
  background: none;
  margin-bottom: 5px;
  display: block;
}

label {
  height: 30px;
  color: #57658c;
  /*Pixel value Fallback*/
  font: normal 15px/15px mada, Fallback, sans-serif;
  /*Rem value*/
  font: normal 1.5rem/1.5rem mada, Fallback, sans-serif;
  margin: 5px 0 2px;
  display: block;
}

.focus label {
  color: #57658c;
}

.invalid label {
  color: red;
}

.invalid label:after {
  content: '(campo obrigatório)';
  /*Pixel value Fallback*/
  font: normal 12px/12px mada, Fallback, sans-serif;
  /*Rem value*/
  font: normal 1.2rem/1.2rem mada, Fallback, sans-serif;
  text-transform: none;
  margin-left: 5px;
}

.valided label {
  color: green;
}

label small {
  float: right;
  font-size: 75%;
  position: relative;
  top: 1px;
}

label a {
  color: #262C3D;
  float: right;
  text-decoration: underline;
}

label a:hover {
  color: #442CBB;
}

input,
textarea,
select,
option {
  margin: 0px 5px 10px 0px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="search"],
input[type="password"],
input[type="number"],
input[type="url"],
input[type="datetime"] {
  width: 100%;
  height: 43px;
  color: #57658c;
  /*Pixel value Fallback*/
  font: normal 15px/18px mada, Fallback, sans-serif;
  /*Rem value*/
  font: normal 1.5rem/1.8rem mada, Fallback, sans-serif;
  background: #ffffff;
  border: 1px solid #9fa8c3;
  border-radius: 5px;
  background-clip: padding-box;
  margin: 2px 0 10px;
  padding: 14px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
input[type="search"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
input[type="url"]:focus,
input[type="datetime"]:focus {
  border-color: #57658c;
}

input[type="text"]:focus + i,
input[type="email"]:focus + i,
input[type="tel"]:focus + i,
input[type="search"]:focus + i,
input[type="password"]:focus + i,
input[type="number"]:focus + i,
input[type="url"]:focus + i,
input[type="datetime"]:focus + i {
  color: #57658c;
  border-color: #57658c;
}

.invalid input[type="text"],
.invalid input[type="email"],
.invalid input[type="tel"],
.invalid input[type="search"],
.invalid input[type="password"],
.invalid input[type="number"],
.invalid input[type="url"],
.invalid input[type="datetime"] {
  border-color: red;
}

.invalid input[type="text"]:focus,
.invalid input[type="email"]:focus,
.invalid input[type="tel"]:focus,
.invalid input[type="search"]:focus,
.invalid input[type="password"]:focus,
.invalid input[type="number"]:focus,
.invalid input[type="url"]:focus,
.invalid input[type="datetime"]:focus {
  outline: 1px solid red;
}

.valided input[type="text"],
.valided input[type="email"],
.valided input[type="tel"],
.valided input[type="search"],
.valided input[type="password"],
.valided input[type="number"],
.valided input[type="url"],
.valided input[type="datetime"] {
  border-color: green;
}

.valided input[type="text"]:focus,
.valided input[type="email"]:focus,
.valided input[type="tel"]:focus,
.valided input[type="search"]:focus,
.valided input[type="password"]:focus,
.valided input[type="number"]:focus,
.valided input[type="url"]:focus,
.valided input[type="datetime"]:focus {
  outline: 1px solid green;
}

textarea {
  width: 100%;
  height: 180px;
  height: 18rem;
  color: #57658c;
  /*Pixel value Fallback*/
  font: normal 15px/18px mada, Fallback, sans-serif;
  /*Rem value*/
  font: normal 1.5rem/1.8rem mada, Fallback, sans-serif;
  background: #ffffff;
  resize: none;
  border-radius: 5px;
  background-clip: padding-box;
  border: 1px solid #262C3D;
  margin: 2px 0 10px;
  padding: 14px;
}

textarea:focus {
  border-color: #57658c;
}

.invalid textarea {
  border-color: red;
}

.invalid textarea:focus {
  outline: 1px solid red;
}

.valided textarea {
  border-color: green;
}

.valided textarea:focus {
  outline: 1px solid green;
}

select {
  width: 100%;
  height: 43px;
  color: #262C3D;
  /*Pixel value Fallback*/
  font: normal 14px/14px mada, Fallback, sans-serif;
  /*Rem value*/
  font: normal 1.4rem/1.4rem mada, Fallback, sans-serif;
  background: #eeecfa;
  -webkit-box-shadow: inset 1px 1px 3px 0px #a699e7;
  box-shadow: inset 1px 1px 3px 0px #a699e7;
  border: none;
  outline: none;
  text-indent: 6px;
}

.select {
  height: 45px;
  background: #ffffff url(../img/select-box.png) no-repeat right;
  border-radius: 0.8em;
  background-clip: padding-box;
  border: 1px solid #9fa8c3;
  margin: 2px 0 10px;
  position: relative;
  overflow: hidden;
  z-index: 5;
}

.select select {
  width: 100%;
  height: 45px;
  background: transparent;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

option {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

option:hover {
  background: #000;
}

.checkbox2,
.radio2 {
  display: table;
}

.checkbox2 label,
.radio2 label,
.checkbox2 input,
.radio2 input {
  float: left;
  margin: 0px 10px 0px 5px;
}

.checkbox2 label,
.radio2 label {
  margin: 0px 10px 0px 5px;
}

.checkbox,
.radio {
  height: 34px;
  margin: 2px 0 10px;
}

.checkbox label,
.radio label {
  color: #262C3D;
  cursor: pointer;
  position: relative;
  margin-bottom: 5px;
  margin: 10px 0;
  float: left;
}

.checkbox label:before,
.radio label:before {
  border-radius: 3px;
  background-clip: padding-box;
}

.checkbox label + input + label,
.radio label + input + label {
  margin-left: 10px;
}

.checkbox input[type=checkbox],
.radio input[type=checkbox],
.checkbox input[type=radio],
.radio input[type=radio] {
  display: none;
}

.checkbox input[type=checkbox] + label:before,
.radio input[type=checkbox] + label:before,
.checkbox input[type=radio] + label:before,
.radio input[type=radio] + label:before {
  content: "";
  color: #262C3D;
  background: #ffffff;
  text-align: center;
  display: block;
  float: left;
  width: 15px;
  height: 14px;
  margin-right: 5px;
  border-radius: 0px;
  background-clip: padding-box;
  border: 1px solid #262C3D;
  line-height: 12px!important;
}

.checkbox input[type=radio] + label:before,
.radio input[type=radio] + label:before {
  border-radius: 10px;
  background-clip: padding-box;
}

.checkbox input[type=checkbox]:checked + label:before {
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\2714";
  color: #442CBB;
}

.radio input[type=radio]:checked + label:before {
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\25CF";
  color: #442CBB;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #262C3D;
  /*Pixel value Fallback*/
  font: 800 26px/26px mada, Fallback, sans-serif;
  /*Rem value*/
  font: 800 2.6rem/2.6rem mada, Fallback, sans-serif;
}

h1 {
  font-size: 30px;
  font-size: 3rem;
  line-height: 32px;
  line-height: 3.2rem;
}

h2 {
  font-size: 28px;
  font-size: 2.8rem;
  line-height: 30px;
  line-height: 3rem;
}

h3 {
  font-size: 26px;
  font-size: 2.6rem;
  line-height: 28px;
  line-height: 2.8rem;
}

h4 {
  font-size: 24px;
  font-size: 2.4rem;
  line-height: 26px;
  line-height: 2.6rem;
}

h5 {
  font-size: 22px;
  font-size: 2.2rem;
  line-height: 24px;
  line-height: 2.4rem;
}

h6 {
  font-size: 20px;
  font-size: 2rem;
  line-height: 22px;
  line-height: 2.2rem;
}

/* Presets */

body {
  font-style: normal;
  font-weight: 400;
  font-size: 62.5%;
}

b,
strong {
  font-weight: 700;
  font-family: inherit;
}

i,
em {
  font-style: italic;
  font-weight: 400;
  font-family: inherit;
}

p,
span,
a,
li,
.text-base {
  /*Pixel value Fallback*/
  font: 200 22px/38px mada, Fallback, sans-serif;
  /*Rem value*/
  font: 200 2.2rem/3.8rem mada, Fallback, sans-serif;
  color: #262C3D;
}

p a {
  color: #57658c;
}

p a:hover {
  text-decoration: underline;
}

p {
  color: #262C3D;
  clear: both;
}

.conteudo li {
  margin: 10px 0;
}

.conteudo p {
  margin: 10px 0;
}

figure {
  text-align: center;
  margin-bottom: 30px;
}

img {
  max-width: 100%;
  height: auto;
}

/* Presets */

/* Blockquote */

blockquote {
  background: #f5f5f5;
  border-left: 3px solid #57658c;
  margin: 20px 0;
  padding: 17px 19px;
}

blockquote p {
  color: #57658c !important;
  font-style: italic !important;
  margin: 0 !important;
}

/* Blockquote */

/* Text Reset */

.text ul {
  list-style: disc;
  list-style: initial;
  padding-left: 20px;
  margin-bottom: 20px;
}

.text ol {
  list-style: decimal;
  list-style: initial;
  padding-left: 20px;
}

.text p {
  margin-bottom: 20px;
}

.text a,
.text ul a,
.text ol a,
.text p a {
  font-weight: bold !important;
}

.text figure {
  margin: 30px 0;
}

.text h1,
.text h2,
.text h3,
.text h4,
.text h5,
.text h6 {
  margin: 25px 0 11px 0;
}

.text table {
  width: 100%;
  color: #262C3D;
  /*Pixel value Fallback*/
  font: 200 15px/20px mada, Fallback, sans-serif;
  /*Rem value*/
  font: 200 1.5rem/2rem mada, Fallback, sans-serif;
  border-collapse: collapse;
  overflow-x: auto;
  display: block;
}

.text table caption {
  margin-bottom: 10px;
}

.text table thead,
.text table tfoot {
  background: #f2f2f2;
}

.text table thead th,
.text table tfoot th {
  color: #262C3D;
  font-weight: bold;
}

.text table td,
.text table th {
  border: 1px solid #9fa8c3;
  text-align: left;
  padding: 8px;
}

.text pre {
  background: #f2f2f2;
  color: #262C3D;
  /*Pixel value Fallback*/
  font: 800 15px/24px mada, Fallback, sans-serif;
  /*Rem value*/
  font: 800 1.5rem/2.4rem mada, Fallback, sans-serif;
  border: 1px solid #9fa8c3;
  padding: 23px 17px;
  overflow-x: auto;
}

.text iframe,
.text video,
.text audio,
.text canvas {
  overflow-x: auto;
  display: block;
}

/* Text Reset */

.header-principal {
  background: #442CBB;
  padding: 15px 0;
  overflow: auto;
}

.nav-global {
  text-align: right;
}

.footer-principal {
  background: #442CBB;
  padding: 15px 0;
  overflow: auto;
}

.main {
  width: 100%;
  margin: 15px 0px;
  display: table;
}

.main > section {
  width: 100%;
  max-width: 1200px;
  display: block;
  margin: 0 auto;
  border: 2px solid #442CBB;
}

#row {
  display: table;
  width: 100%;
}

#only {
  width: 81.25%;
  display: inline;
  float: left;
  margin: 0 1.04166667%;
  margin-left: 9.375%;
  margin-right: 9.375%;
}

#table {
  width: 100%;
  display: table;
  float: left;
}

#float,
#only,
.wrap .container {
  display: inline;
  float: left;
  margin: 0 15px;
}

#section {
  display: table;
  width: 100%;
  padding: 15px 0;
}

#fullbar {
  display: table;
  width: 100%;
  padding: 20px 0;
  margin: 0;
}

#fullbar > div {
  width: 100%;
  max-width: 1200px;
  display: block;
  margin: 0 auto;
}

.wrap .container {
  width: 97.91666667%;
  display: inline;
  float: left;
  margin: 0 1.04166667%;
}

/* Home */

body {
  background: #ffffff;
  /* Container */
  /* Container */
  /* Photo */
  /* Photo */
  /* Text */
  /* Text */
  /* Social */
  /* Social */
}

body main {
  width: 100%;
  height: 100%;
  height: 100vh;
  margin: 0 auto;
  padding: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  overflow: auto;
}

@media only screen and (max-width : 480px) {
  body main {
    height: auto;
  }
}

body .center {
  width: 100%;
  max-width: 400px;
  overflow: auto;
}

body .box-photo {
  width: 100%;
  text-align: center;
  margin-bottom: 40px;
  float: left;
}

body .box-photo img {
  max-width: 120px;
  height: auto;
  border-radius: 500px;
  background-clip: padding-box;
  overflow: hidden;
}

body .box-photo figcaption {
  display: none;
}

body .box-text {
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
  float: left;
}

body .box-text p,
body .box-text a {
  color: #262C3D;
  /*Pixel value Fallback*/
  font: 200 10px/22px mada, Fallback, sans-serif;
  /*Rem value*/
  font: 200 1rem/2.2rem mada, Fallback, sans-serif;
  text-align: center;
}

body .box-text p {
  margin-bottom: 20px;
}

body .social-list {
  width: 100%;
  list-style: none;
  text-align: center;
  float: left;
}

body .social-list li {
  display: inline;
  display: inline-block;
  margin: 0 13px;
}

body .social-list a {
  color: #442CBB;
  font-size: 20px;
  font-size: 2rem;
  line-height: 20px;
  line-height: 2rem;
}

/* Home */